.file-loader {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
}

.file-loader:hover {
  border-color: #888;
}

.file-loader input {
  display: none;
}